footer{
    display: flex;
    align-self: flex-end;
    background-color:#2f4f4f;  
    justify-content: center;
    
}
footer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-self: center;

}
footer li{
    margin-left: 10px;
    display: flex;

}
footer a{
    color: white;
    
}
