nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #f3edede8;
    
}
nav ul{
    padding: 5px;
    display: flex;
    flex-direction: row;
    list-style: none;
}
nav li{
    margin-left: 5%;
}
nav a{
   text-decoration: none;
   color: darkslategrey;
   font-weight: bold;
   padding: 10%;
   
}
nav a:hover{
    background-color: rgba(231, 231, 222, 0.411);
    color: rgb(12, 202, 113);
}
#pesquisa{
    display: flex;
    border: none;
    margin-left: 10px;
}
#pesquisa input{ /*Barra de pesquisa*/
    border-radius: 10px;
    border: none;
    

}
#pesquisa button{ /*Botão de pesquisa*/
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    height: 50%;
    width: 25%;
}
img{
    height: 20%;
}